FORMAT: 1A
HOST: https://tmx-india.cloudapp.net/openemr_dev/interface/tmx-india

# CSR Health care

<p>Corporate social responsibility <code>(CSR)</code> is a health care EMR <code>(Electronic Medical Records)</code> Software, Implementing Clinical concept with Android Tablet.</p>
<br/><p>An EMR contains the standard medical and clinical data gathered in one provider’s office. Electronic health records (EHR) go beyond the data collected in the provider’s office and include a more comprehensive patient history.</p>

## Server information

<p>Server</p>
<p> PHP <code>5.3 </code> and mysql <code>5.6</code>.</p>
<p>For example we use <code>android retrofit</code> to connect to this <code>REST API</code>.</p>

<em><small>**Note: This content is currently DRAFT and under development**</small></em>

# Overview

<ul>
<li><p>All Api access is at <code>https://www.sitename.com/xxxxxx/interface/api/v1/</code></p></li>
<li><p>All Api access is based on  API Mode such as <code>“development”</code>, <code>“test”</code>, and <code>“production”</code></p><br/><br/>
<p>- e.g: <code>API development Mode</code> <br/><br/> <code>https://www.sitename.com/xxxxxxx_dev/interface/api/v1/</code><br/><br/>
<code>API test Mode</code><br/><br/>  <code>https://www.sitename.com/xxxxxxx/interface/api/v1/</code></p></li>
<li><p>All data response as <code>JSON OBJECT</code>.</p></li>
<li><p>Client can send any kind of data with supportable format of header content-type</p></li>
</ul>

##Requests

<p>All API methods are described by a HTTP method (e.g. GET, POST, PUT, DELETE) and a URL endpoint.</p>
<p>For example: <code>REQUEST_METHOD:</code>  <code>POST</code>, <code>URL pattern</code>   <code>/User/login</code> Requests data is required </p>
<p>- e.g.: <code>User login </code> - it must be supplied in the request body as a <code>JSON object</code> and the <code>Content-Type: application/json</code> header needs to be set.</p>
<p>Hence:<br/><pre><code>if request supplied in the request body as a  JSON object  and the  Content-Type: application/json  header needs to be set.</code></pre></p>
 
<em>**Note: The request content and content-type on header should be same.**</em>

##Responses

<p>Responses are returned in <code>JSON format;</code> every response will have the <code>Content-Type: application/json</code> header set.</p>

<h3>Response Status</h3>

<p>All responses from the API use a standard HTTP status code. Common status codes you will see while using the API are:</p>
<ul>
<li><p><code>2xx </code>  <code>Successful</code>- the request was successful and a resource was created</p></li>
<li><p><code>200 </code>  <code>OK </code>- the request completed successfully (POST calls return 201 instead)</p></li>
<li><p><code>201 </code>  <code>Created </code>- the request was successful and a resource was created</p></li>
<li><p><code>3xx </code>  <code>Redirection </code>- Server redirect if it's need. </p></li>
<li><p><code>301 </code>  <code>Moved Permanently</code>- Server redirect if it's need. </p></li>
<li><p><code>4xx </code>  <code>Client Error </code>- the request could not be understood by server or client was missing required parameters. </p></li>
<li><p><code>400 </code>  <code>Bad Request </code>- the request could not be understood or was missing required parameters. </p></li>
<li><p><code>401 </code>  <code>Unauthorized </code>- authentication failed or user doesn't have permissions for requested operation. </p></li>
<li><p><code>403 </code>  <code>Forbidden </code>-  access denied, currently authorized user doesn't have access to the resource. </p></li>
<li><p><code>404 </code>  <code>Not Found </code>-  resource was not found. </p></li>
<li><p><code>405 </code>  <code>Method Not Allowed </code>-  requested method is not supported for resource. </p></li>
<li><p><code>5xx </code>  <code>Server Error </code>- something went wrong serverside. Likely a transient issue, but if you get repeated 5XX errors, please contact support. </p></li>
</ul>

## Operations

<p>We use RESTful verbs for all operations and methods.</p>
<table>
<thead><tr><th>Verb</th><th>Description</th></tr></thead>
<tbody>
<tr><td><code>GET</code></td><td>Used to select one or more items. Success returns 200 status code with json result item(s) in body.</td></tr>
<tr><td><code>POST</code></td><td>Used to create a new item. Success returns 201 status code with newly created json item in body.</td></tr>
<tr><td><code>PUT</code></td><td>Used to update an item. Success returns 200 status code with updated json item in body.</td></tr>
<tr><td><code>DELETE</code></td><td>Used to delete an item. Success returns 204 status code with no body.</td></tr>
</tbody>
</table>

## Query Parameters

<h2>Query Parameters</h2>
<p>You can add query parameters to your requests, most commonly for <code>GET</code> requests.</p>
<p><em>Example: http://www.sitename/com/api/v1/plist?page=2&amp;pageSize=10 will return page 2, of 10 results per page.</em></p>

# Authentication

<p>All User need to Login their application before getting started.<p>
<p>Login credential such as : <code>Username</code> & <code>Password</code><p>
<p>After Successful Login in to server, server send an unique UUID for the User, After login Every request needs a valid UUID key for request Server</p>

<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><td colspan="2"><strong>After Successful Login Request Required Header Parameters</strong></td></tr>
<tr><td >auth</td><td><code>xxxxx</code></td></tr>
<tr><td >AUTH_KEY</td><td><code>xxxxx</code></td></tr>
</tbody>
</table>

# Group API

<p><em>Notes related resources of the **API**</em></p>
<p>Every Request need a <code>REQUEST METHOD</code> , <code>specified URL</code> and required <code>request data</code></p>

# Group User 

<p>User login attributes:</p>

<ul >
<li ><p class="tocColumnItemText"><strong>authUser</strong> <code>string</code> - unique name of the User in the system</p></li>
<li ><p class="tocColumnItemText"><strong>authPass</strong> <code>string</code> - base64_encode of password used in this filed for crypt.</p></li>
<li ><p class="tocColumnItemText"><strong>success</strong> <code>object</code> - Client request with REQUEST_METHOD , URL pattern and Parameters to the server, Server response as an success object .</p></li>
<li ><p class="tocColumnItemText"><strong>failure</strong> <code>object</code> - Client request with invalid REQUEST_METHOD or invalid URL pattern or invalid Parameters to the server, Server response as an failure object.</p></li>
<li ><p class="tocColumnItemText"><strong>Message</strong> <code>string</code> - Server return message based on credential.</p></li>
<li ><p class="tocColumnItemText"><strong>authUser</strong> <code>string</code> - Authenticated unique name of the User in the system.</p></li>
<li ><p class="tocColumnItemText"><strong>Username</strong> <code>string</code> - Authenticated Name of the User in the system.</p></li>
<li ><p class="tocColumnItemText"><strong>Facility</strong> <code>string</code> - Facility of the current User.</p></li>
<li ><p class="tocColumnItemText"><strong>authUserID</strong> <code>string</code> - Unique UUID for the current User.</p></li>
<li ><p class="tocColumnItemText"><strong>ACL</strong> <code>array</code> - Current User having Generic Access Control Lists.</p></li>
</ul>


##User Login on GET [/User/login?authUser=admin&authPass=YWRtaW5sc2FwcEAyMDE0]

<pre class="json">
<code><span>Request method : GET</span>
<span>Resource URI : /User/:login</span>
<span>Request Content type :application/json</span>
<span>Request Query:authUser=admin&authPass=YWRtaW5sc2FwcEAyMDE0</span>
<span>For example<br/>Request URL: https://yourdomain.com/User/:login?authUser=admin&authPass=YWRtaW5sc2FwcEAyMDE0</span></code>
</pre>

### User Login on GET method [GET]

+ Response 200 (application/json)

    + Body
    
            {"success":{"Message":"Login Successful!","authUser":"admin","Username":"Administrator Administrator","Facility":"Dr. Metha Hospital","authUserID":"9AD5C9F8-52AC-3B34-446F-8B14B593D385","ACL":["Administrators"]}}
        
+ Parameters
    + login (required , `login?` , `string`) ... this is used as a key.
    + authUser (required , `admin` , `string`) ... name of the User in the system.
    + authPass (required , `YWRtaW5sc2FwcEAyMDE0` , `string`) ... unique name of the User key  encripted base64_encode value to be used.
    

##User Login on POST [/User/login]

<pre class="json">
<code><span> Request method : POST</span>
<span>Resource URI : /User/login</span>
<span>Request Content type :application/json</span>
<span>Request variables : {"authUser":"xxxxx","authPass":"xxxxx"}</span></code>
</pre>



### User Login on POST method  [POST]

+ Request (application/json)

    + Body
    
            {"authUser":"admin","authPass":"YWRtaW5sc2FwcEAyMDE0"}

+ Response 201 (application/json)

    + Body

            {"success":{"Message":"Login Successful!","authUser":"admin","Username":"Administrator Administrator","Facility":"Dr. Metha Hospital","authUserID":"9AD5C9F8-52AC-3B34-446F-8B14B593D385","ACL":["Administrators"]}}


+ Request (application/x-www-form-urlencoded)

        authUser=admin&authPass=YWRtaW5sc2FwcEAyMDE0

+ Response 201 (application/json)
    
    + Body

            {"success":{"Message":"Login Successful!","authUser":"admin","Username":"Administrator Administrator","Facility":"Dr. Metha Hospital","authUserID":"9AD5C9F8-52AC-3B34-446F-8B14B593D385","ACL":["Administrators"]}}

## User Logout on POST [/User/logout]

<pre class="json">
<code><span> Request method : POST</span>
<span>Resource URI : /User/logout</span>
<span>Request Content type :application/json</span></code>
</pre>

<p>User Logout attributes:</p>

<ul>
<li><p class="tocColumnItemText"><strong>AUTH_KEY</strong> <code>string</code> - unique UUID of the User in the system , it is to be passed on Headers</p></li>
<li><p class="tocColumnItemText"><strong>auth</strong> <code>string</code> - authenticate user stay on login to request and retrieve data from server  or logout, it is to be passed on Headers</p></li>
</ul>

<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><td colspan="2"><strong>Required Header Parameters</strong></td></tr>
<tr><td >auth</td><td><code>logout</code></td></tr>
<tr><td >AUTH_KEY</td><td><code>91B0B365-7BF7-4724-FEC3-4848E07312B5</code></td></tr>
</tbody>
</table>

### User Logout on POST [POST]

+ Request (application/json)

    + Headers
    
            auth: login
            AUTH_KEY: 91B0B365-7BF7-4724-FEC3-4848E07312B5
       
+ Response 200 (application/json)
    
    + Body

            {success: {Message: "Logout Successful."}}

# Group Patient Data collection

<p>Common attributes:</p>
<ul>
<li><p class="tocColumnItemText"><strong>AUTH_KEY</strong> <code>string</code> - unique UUID of the User in the system , it is to be passed on Headers</p></li>
<li><p class="tocColumnItemText"><strong>auth</strong> <code>string</code> - authenticate user stay on login to request and retrieve data from server  or logout, it is to be passed on Headers</p></li>
<li><p class="tocColumnItemText"><strong>success</strong> <code>object</code> - Client request with REQUEST_METHOD , URL pattern and Parameters to the server, Server response as an success object .</p></li>
<li><p class="tocColumnItemText"><strong>failure</strong> <code>object</code> -  Client request with invalid REQUEST_METHOD or invalid URL pattern or invalid Parameters to the server, Server response as an failure object .</p></li>
</ul>

<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><td colspan="2"><strong>Required Header Parameters</strong></td></tr>
<tr><td >auth</td><td><code>login</code></td></tr>
<tr><td >AUTH_KEY</td><td><code>UUID</code></td></tr>
</tbody>
</table>

## Patient Register Form [/demographics/form]



<pre class="json">
<code><span> Request method : POST<span>
<span>Resource URI : /demographics/form<span>
<span>Request Content type :application/json<span></code>
</pre>

### Patient Register Form  [POST]

+ Request (application/json)

    + Headers
    
            auth: login
            AUTH_KEY: 91B0B365-7BF7-4724-FEC3-4848E07312B5
       
+ Response 200 (application/json)
    
    + Body

            {"success":{"form_pubpid":{"label":"Biometric","required":1},"form_fname":{"label":"First Name","required":1},"form_lname":{"label":"Last name","required":1},"form_DOB":{"label":"Date of birth","required":1},"form_age":{"label":"Age","required":1},"form_sex":{"label":"sex","options":{"Unassigned":"Unassigned","Female":"Female","Male":"Male"},"required":1},"form_status":{"label":"Status","options":{"Unassigned":"Unassigned","married":"Married","single":"Single","divorced":"Divorced","widowed":"Widowed","separated":"Separated","domestic partner":"Domestic Partner"},"required":1},"form_photo":{"label":"Photograph","required":1},"form_genericname1":{"label":"Blood Group","options":{"Unassigned":"Unassigned","O+":"O+","A+":"A+","B+":"B+","AB+":"AB+","O-":"O-","A-":"A-","B-":"B-","AB-":"AB-"},"required":0},"form_street":{"label":"Door no, Street name","required":0},"form_genericval2":{"label":"Village","required":0},"form_genericval1":{"label":"Taluk","required":0},"form_city":{"label":"City","required":0},"form_genericname2":{"label":"District","required":1},"form_state":{"label":"State","options":{"Unassigned":"Unassigned","AN":"Andaman and Nicobar Islands","AP":"Andhra Pradesh","AR":"Arunachal Pradesh","AS":"Assam","BI":"Bihar","CH":"Chandigarh","DA":"Dadra and Nagar Haveli","DM":"Daman and Diu","DE":"Delhi","GO":"Goa","GU":"Gujarat","HA":"Haryana","HP":"Himachal Pradesh","JA":"Jammu and Kashmir","KA":"Karnataka","KE":"Kerala","LI":"Lakshadweep Islands","MP":"Madhya Pradesh","MA":"Maharashtra","MN":"Manipur","ME":"Meghalaya","MI":"Mizoram","NA":"Nagaland","OR":"Orissa","PO":"Pondicherry","PU":"Punjab","RA":"Rajasthan","SI":"Sikkim","TN":"Tamil Nadu","TR":"Tripura","UP":"Uttar Pradesh","WB":"West Bengal"},"required":1},"form_postal_code":{"label":"Pin code","required":1},"form_phone_cell":{"label":"Mobile Number","required":0},"form_phone_home":{"label":"Land line","required":0},"form_email":{"label":"Contact Email","required":0},"form_guardiansname":{"label":"Emergency Contact Name","required":0},"form_contact_relationship":{"label":"Emergency Contact RelationShip","required":0},"form_phone_contact":{"label":"Emergency Contact Phone","required":0},"form_occupation":{"label":"Occupation","required":1},"form_em_name":{"label":"Employer Name","required":1},"form_em_street":{"label":"Employer Address","required":1},"form_usertext11":{"label":"Risk Factors","checkbox":{"form_usertext11[vv]":"Varicose Veins","form_usertext11[ht]":"Hypertension","form_usertext11[db]":"Diabetes","form_usertext11[sc]":"Sickle Cell","form_usertext11[fib]":"Fibroids","form_usertext11[pid]":"PID (Pelvic Inflammatory Disease)","form_usertext11[mig]":"Severe Migraine","form_usertext11[hd]":"Heart Disease","form_usertext11[str]":"Thrombosis\/Stroke","form_usertext11[hep]":"Hepatitis","form_usertext11[gb]":"Gall Bladder Condition","form_usertext11[br]":"Breast Disease","form_usertext11[dpr]":"Depression","form_usertext11[all]":"Allergies","form_usertext11[inf]":"Infertility","form_usertext11[ast]":"Asthma","form_usertext11[ep]":"Epilepsy","form_usertext11[cl]":"Contact Lenses","form_usertext11[coc]":"Contraceptive Complication (specify)","form_usertext11[oth]":"Other (specify)"},"required":0},"form_userarea11":{"label":"Risk Factors Others","required":0},"form_exams":{"labels":{"form_exams[brs]":{"label":"Breast Exam","radio":{"radio_exams[brs][1]":"N\/A","radio_exams[brs][2]":"Normal","radio_exams[brs][3]":"Abnormal"}},"form_exams[cec]":{"label":"Cardiac Echo","radio":{"radio_exams[cec][1]":"N\/A","radio_exams[cec][2]":"Normal","radio_exams[cec][3]":"Abnormal"}},"form_exams[ecg]":{"label":"ECG","radio":{"radio_exams[ecg][1]":"N\/A","radio_exams[ecg][2]":"Normal","radio_exams[ecg][3]":"Abnormal"}},"form_exams[gyn]":{"label":"Gynecological Exam","radio":{"radio_exams[gyn][1]":"N\/A","radio_exams[gyn][2]":"Normal","radio_exams[gyn][3]":"Abnormal"}},"form_exams[mam]":{"label":"Mammogram","radio":{"radio_exams[mam][1]":"N\/A","radio_exams[mam][2]":"Normal","radio_exams[mam][3]":"Abnormal"}},"form_exams[phy]":{"label":"Physical Exam","radio":{"radio_exams[phy][1]":"N\/A","radio_exams[phy][2]":"Normal","radio_exams[phy][3]":"Abnormal"}},"form_exams[pro]":{"label":"Prostate Exam","radio":{"radio_exams[pro][1]":"N\/A","radio_exams[pro][2]":"Normal","radio_exams[pro][3]":"Abnormal"}},"form_exams[rec]":{"label":"Rectal Exam","radio":{"radio_exams[rec][1]":"N\/A","radio_exams[rec][2]":"Normal","radio_exams[rec][3]":"Abnormal"}},"form_exams[sic]":{"label":"Sigmoid\/Colonoscopy","radio":{"radio_exams[sic][1]":"N\/A","radio_exams[sic][2]":"Normal","radio_exams[sic][3]":"Abnormal"}},"form_exams[ret]":{"label":"Retinal Exam","radio":{"radio_exams[ret][1]":"N\/A","radio_exams[ret][2]":"Normal","radio_exams[ret][3]":"Abnormal"}},"form_exams[flu]":{"label":"Flu Vaccination","radio":{"radio_exams[flu][1]":"N\/A","radio_exams[flu][2]":"Normal","radio_exams[flu][3]":"Abnormal"}},"form_exams[pne]":{"label":"Pneumonia Vaccination","radio":{"radio_exams[pne][1]":"N\/A","radio_exams[pne][2]":"Normal","radio_exams[pne][3]":"Abnormal"}},"form_exams[ldl]":{"label":"LDL","radio":{"radio_exams[ldl][1]":"N\/A","radio_exams[ldl][2]":"Normal","radio_exams[ldl][3]":"Abnormal"}},"form_exams[hem]":{"label":"Hemoglobin","radio":{"radio_exams[hem][1]":"N\/A","radio_exams[hem][2]":"Normal","radio_exams[hem][3]":"Abnormal"}},"form_exams[psa]":{"label":"PSA","radio":{"radio_exams[psa][1]":"N\/A","radio_exams[psa][2]":"Normal","radio_exams[psa][3]":"Abnormal"}}},"label":"Exams\/Tests","required":0},"form_text_tobacco":{"label":"Tobacco Type","required":0},"form_tobacco":{"label":"Tobacco","options":{"Unassigned":"Unassigned","1":"Current every day smoker","2":"Current some day smoker","3":"Former smoker","4":"Never smoker","5":"Smoker, current status unknown","9":"Unknown if ever smoked","15":"Heavy tobacco smoker","16":"Light tobacco smoker"},"radio":{"radio_tobacco[current]":"Current","radio_tobacco[quit]":"Quit","radio_tobacco[never]":"Never","radio_tobacco[not_applicable]":"N\/A"},"date_tobacco":"choose a date","required":0},"form_coffee":{"label":"Coffee","radio":{"radio_coffee[current]":"Current","radio_coffee[quit]":"Quit","radio_coffee[never]":"Never","radio_coffee[not_applicable]":"N\/A"},"date_coffee":"choose a date","required":0},"form_alcohol":{"label":"Alcohol","radio":{"radio_alcohol[current]":"Current","radio_alcohol[quit]":"Quit","radio_alcohol[never]":"Never","radio_alcohol[not_applicable]":"N\/A"},"date_alcohol":"choose a date","required":0},"form_recreational_drugs":{"label":"Recreational Drugs","radio":{"radio_recreational_drugs[current]":"Current","radio_recreational_drugs[quit]":"Quit","radio_recreational_drugs[never]":"Never","radio_recreational_drugs[not_applicable]":"N\/A"},"date_recreational_drugs":"choose a date","required":0},"form_counseling":{"label":"Counselling","radio":{"radio_counseling[current]":"Current","radio_counseling[quit]":"Quit","radio_counseling[never]":"Never","radio_counseling[not_applicable]":"N\/A"},"date_counseling":"choose a date","required":0},"form_exercise_patterns":{"label":"Exercise Patterns","radio":{"radio_exercise_patterns[current]":"Current","radio_exercise_patterns[quit]":"Quit","radio_exercise_patterns[never]":"Never","radio_exercise_patterns[not_applicable]":"N\/A"},"date_exercise_patterns":"choose a date","required":0},"form_hazardous_activities":{"label":"Hazardous Activities","radio":{"radio_hazardous_activities[current]":"Current","radio_hazardous_activities[quit]":"Quit","radio_hazardous_activities[never]":"Never","radio_hazardous_activities[not_applicable]":"N\/A"},"date_hazardous_activities":"choose a date","required":0},"form_userarea12":{"label":"Life style Others","required":0},"form_relatives_cancer":{"label":"Cancer","required":0},"form_relatives_tuberculosis":{"label":"Tuberculosis","required":0},"form_relatives_diabetes":{"label":"Diabetes","required":0},"form_relatives_high_blood_pressure":{"label":"High Blood Pressure","required":0},"form_relatives_heart_problems":{"label":"Heart Problems","required":0},"form_relatives_stroke":{"label":"Stroke","required":0},"form_relatives_epilepsy":{"label":"Epilepsy","required":0},"form_relatives_mental_illness":{"label":"Mental Illness","required":0},"form_relatives_suicide":{"label":"Suicide","required":0},"form_history_father":{"label":"Father `s Name","required":0},"form_history_mother":{"label":"Mothers `s Name","required":0},"form_history_siblings":{"label":"Siblings","required":0},"form_history_spouse":{"label":"Spouse","required":0},"form_history_offspring":{"label":"Child","required":0}}}



##New Patient Register [/demographics/new]



<pre class="json">
<code><span> Request method : POST<span>
<span>Resource URI : /demographics/new<span>
<span>Request Content type :application/json<span></code>
</pre>

<p>Data collection attributes:</p>
<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><th> Parameter </th><th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th> Recommented </th><th>data type </th></tr>
<tr><td >form_pubpid</td><td>Biometric ( Finger print) Unique value or system will generate unique value.</td><td><code>required</code></td><td> <code>alphanumeric</code></td></tr>
<tr><td >form_fname</td><td>Patient first name </td><td><code>required</code> </td><td><code>alpha</code></td></tr>
<tr><td >form_lname</td><td>Patient last name  </td><td> <code>required</code> </td><td><code>alpha</code></td></tr>
<tr><td >form_DOB/form_age </td><td>Patient date of birth or age   </td><td><code>required</code> </td><td><code> Supported input date formats are:
mm/dd/yyyy ,   mm/dd/yy   (assumes 20yy for yy < 10, else 19yy)
yyyy/mm/dd ,  also mm-dd-yyyy, and mm.dd.yyyy, Age is an 3 digit Numeric Value.</code></td></tr>
<tr><td >form_sex</td><td>Patient sex info   </td><td><code>required</code> </td><td><code>option</code></td></tr>
<tr><td >form_status</td><td>Patient marital status   </td><td><code>required</code> </td><td><code>option</code></td></tr>
<tr><td >form_photo </td><td>Patient Photograph   </td><td><code>required</code> </td><td><code>base64_encode file format</code></td></tr>
<tr><td >form_genericname1</td><td>Patient Blood Group  </td><td><code>optional</code> </td><td><code>option</code></td></tr>
<tr><td colspan="4">&nbsp;<h4>Address</h4></td></tr>
<tr><td >form_street</td><td>Patient Address Door no, Street name  </td><td><code>optional</code> </td><td><code>string</code></td></tr>
<tr><td >form_genericval2</td><td>Patient Address Village  </td><td> <code>optional</code> </td><td><code>string</code></td></tr>
<tr><td >form_genericval1</td><td>Patient Address Taluk   </td><td><code>optional</code> </td><td><code>string</code></td></tr>
<tr><td >form_city</td><td>Patient Address  City </td><td><code>optional</code> </td><td><code>string</code></td></tr>
<tr><td >form_genericname2</td><td>Patient Address  District </td><td><code>required</code> </td><td><code>string</code></td></tr>
<tr><td >form_state</td><td>Patient Address  State </td><td><code>required</code> </td><td><code>option</code></td></tr>
<tr><td >form_postal_code</td><td>Patient Address Pin code  </td><td> <code>required</code> </td><td><code>numeric</code></td></tr>
<tr><td colspan="4">&nbsp;<h4>Contact</h4></td></tr>
<tr><td >form_phone_cell</td><td>Patient Mobile Number  </td><td> <code>optional</code> </td><td></td><td><code>numeric</code></td></tr>
<tr><td >form_phone_home</td><td>Patient Land line   </td><td><code>optional</code> </td><td><code>numeric</code></td></tr>
<tr><td >form_email</td><td>Patient Contact Email   </td><td><code>optional</code> </td><td><code>email address format</code></td></tr>
<tr><td colspan="4">&nbsp;<h4>Emergency</h4></td></tr>
<tr><td >form_guardiansname</td><td>Patient Emergency Contact Name  </td><td> <code>optional</code> </td><td><code>numeric</code></td></tr>
<tr><td >form_contact_relationship</td><td>Patient Emergency Contact RelationShip   </td><td><code>optional</code> </td><td><code>string</code></td></tr>
<tr><td >form_phone_contact</td><td>Patient Emergency Contact Phone   </td><td><code>optional</code> </td><td><code>numeric</code></td></tr>
<tr><td colspan="4">&nbsp;<h4>Employer with </h4></td></tr>
<tr><td >form_occupation</td><td>Patient Occupation   </td><td><code>required</code></td><td> <code>alphanumeric</code></td></tr>
<tr><td >form_em_name</td><td>Patient Employer Name  </td><td> <code>required</code> </td><td><code>string</code></td></tr>
<tr><td >form_em_street</td><td>Patient Employer Address   </td><td><code>required</code></td><td> <code>string</code></td></tr>
<tr><td colspan="4">&nbsp;<h4>Risk</h4> </td></tr>
<tr><td >form_usertext11</td><td>Risk Factors  </td><td> <code>optional</code> </td><td><code>array of risk factors</code></td></tr>
<tr><td >form_userarea11</td><td>Risk Factors Others  </td><td> <code>optional</code> </td><td><code>array</code></td></tr>
<tr><td >form_exams</td><td>Exams/Tests  </td><td> <code>optional</code></td><td> <code>array contain  Exams/Tests  name  and result </code></td></tr>
<tr><td >radio_exams</td><td>Exams/Tests options  </td><td><code>optional</code> </td><td><code>array contain  Exams/Tests options  </code></td></tr>
<tr><td colspan="4">&nbsp;<h4>Life style</h4></td></tr>
<tr><td >form_text_tobacco</td><td>Tobacco Type   </td><td><code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_tobacco</td><td>Tobacco   </td><td><code>optional</code></td><td> <code>array contain  frequency of usage and status if quit on date.</code></td></tr>
<tr><td >form_coffee</td><td>Coffee   </td><td><code>optional</code></td><td> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_alcohol</td><td>Alcohol   </td><td><code>optional</code> </td><td><code>array contain status if quit on date.</code></td></tr>
<tr><td >form_recreational_drugs</td><td>Recreational Drugs   </td><td><code>optional</code> </td><td><code>array contain status if quit on date.</code></td></tr>
<tr><td >form_counseling</td><td>Counselling   </td><td><code>optional</code></td><td> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_exercise_patterns</td><td>Exercise Patterns  </td><td> <code>optional</code></td><td> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_hazardous_activities</td><td>Hazardous Activities  </td><td> <code>optional</code></td><td> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_userarea12</td><td>Life style Others  </td><td> <code>optional</code> </td><td><code>string</code></td></tr>
<tr><td colspan="4">&nbsp; <h4>Relatives </h4></td></tr>
<tr><td >form_relatives_cancer</td><td>Cancer   </td><td><code>optional</code> </td><td><code>string</code></td></tr>
<tr><td >form_relatives_tuberculosis</td><td>Tuberculosis  </td><td> <code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_relatives_diabetes</td><td>Diabetes   </td><td><code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_relatives_heart_problems</td><td>High Blood Pressure  </td><td> <code>optional</code> </td><td><code>string</code></td></tr>
<tr><td >form_relatives_stroke</td><td>Stroke   </td><td><code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_relatives_epilepsy</td><td>Epilepsy  </td><td> <code>optional</code> </td><td><code>string</code></td></tr>
<tr><td >form_relatives_mental_illness</td><td>Mental Illness  </td><td> <code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_relatives_suicide</td><td>Suicide   </td><td><code>optional</code></td><td> <code>string</code></td></tr>
<tr><td colspan="4">&nbsp; <h4>Biological History</h4> </td></tr>
<tr><td >form_history_father</td><td>Father's Name   </td><td><code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_history_mother</td><td>Mother's Name  </td><td><code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_history_siblings</td><td>Siblings   </td><td><code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_history_spouse</td><td>Spouse   </td><td><code>optional</code></td><td> <code>string</code></td></tr>
<tr><td >form_history_offspring</td><td>Child   </td><td><code>optional</code></td><td> <code>string</code></td></tr>
</tbody></table>

### New Patient Register ON POST [POST]

+ Request (application/json)

    + Headers

            auth: login
            AUTH_KEY: 91B0B365-7BF7-4724-FEC3-4848E07312B5
    + Body
    
            {"form_pubpid":"Biometricq","form_fname":"First Name","form_lname":"Last name","form_DOB":"2014-12-15","form_age":"","form_sex":"Male","form_status":"single","form_photo":"data:image\/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAB4CAYAAAB1ovlvAAAABHNCSVQICAgIfAhkiAAABGNJREFUeJzt3E9oHFUAx\/HfzG72T7I1m9am2BKTqPinNLRY\/FNEIlK1KEVFEPTswUsRTx4KevSgJ8GTF6+i9CDVg4cqBVFBsbQoVISmNjVbU9o0f3c3M288bJJ2SaHJpb8Rv5\/LhtkMzCNfHvPeg0T1ej0TYBK7HwD\/bwQIKwKEFQHCigBhRYCwIkBYESCsCBBWBAgrAoQVAcKKAGFFgLAiQFgRIKwIEFYECCsChBUBwooAYUWAsCJAWBEgrAgQVgQIKwKEFQHCigBhRYCwIkBYFd0PgG5ZJEXZ9c8ok0LcfU2SCpmUxNJ29ehQeUijUU1tBZ1fvKrjYUrzhbB2T54xA+ZMMXQ+V+MJcfc1qXM9iaXne0f05bYX9MDALv1dTDRbjvX4vXt0bOBZ7Um3eAawSRH\/ITVfVme5fXG\/nqjs1La0pIlkTl+1\/tKVQqLlgtSTSgcqg\/qg\/4COzP2oXxcvrc10USa9NLxXR67t0uvT36hRSrwDugVmwBx6q29MH905rp4tvWpUE+0eGtbn25\/RHtVUDJ1I39y6V5\/O\/q5fmt3xSdIXF0\/rTP+yXqmO2MawUbwD5swj1UG9XBvVG9Mn9UeYURZJ8dXf9NrIfr3fflSH50+oVOvV\/erXO0sXFN3wjrcaYhwynZq5qEPxoD5O\/\/QMZIOYAXNmvD6i4wvndDbMSurMakksHbt4WrWBfo236uotlhSyTNNRa939aSTFQbqslvrintv9+JtGgDlTK1U02ZrVjYvXWNJi0lZDTdULFS20lhRHkR5qVtfdH6szE+6KetW4SaB5Q4A5cy1parfuWHufS1cWJZViSUNpRVNRU+1mS9+Vr+rF8vC6++MgxcWCDlaH9G3auM1Pv3kEmDNfL53X0\/VRPRz6JIXOHyiO9F55TJPtWf1UnFEaSZ\/MnNHBnQ\/q1dagpLC2ZxgXpA+r+xUnQZ+lF7yD2QC2YXImyqTnRsZ0tHmfzl6Z0tnygp4s7FBaKent6ZOaCPMqZJ2Z8bGBu3V0yz4t\/XNF38czGohKGi\/t0ERlWe9e+kGTYcE9nFsiwJzJVhYRW+t1HdJdqhWLOtee04mlSSVJ0llkrPxuHKSeao+e6hvWPaopC0Gn2pf182JDaRas49goAsyh1VOQzqZ0rDQKKqed1fDq99L1Izqp++guWTk9yfsxnMQ+YC51byyHtXPfm3\/f\/XMWdc6J\/wvxSSxCYEaAsCJAWBEgrAgQVgQIKwKEFQHCigBhRYCwIkBYESCsCBBWBAgrAoQVAcKKAGFFgLAiQFgRIKwIEFYECCsChBUBwooAYUWAsCJAWBEgrAgQVgQIKwKEFQHCigBhRYCwIkBYESCsCBBWBAgrAoQVAcKKAGFFgLAiQFgRIKwIEFYECCsChBUBwooAYUWAsCJAWBEgrAgQVgQIKwKEFQHCigBhRYCwIkBYESCsCBBWBAgrAoQVAcKKAGFFgLAiQFgRIKwIEFYECCsChBUBwooAYUWAsCJAWP0Lie0T6S1FkqMAAAAASUVORK5CYII=","form_genericname1":"A+","form_street":"Door no, Street name","form_genericval2":"Village","form_genericval1":"Taluk","form_city":"City","form_genericname2":"District","form_state":"AP","form_postal_code":"628151","form_phone_cell":"0987654321","form_phone_home":"1234567890","form_email":"rajasekar.jeya@gmail.com","form_guardiansname":"Emergency Contact Name","form_contact_relationship":"Contact RelationShip","form_phone_contact":"1029384756","form_occupation":"Occupation","form_em_name":"Employer Name","form_em_street":"Employer Address","form_usertext11":{"vv":"Varicose Veins","ht":"Hypertension","db":"Diabetes","sc":"Sickle Cell","fib":"Fibroids","pid":"PID (Pelvic Inflammatory Disease)","mig":"Severe Migraine","hd":"Heart Disease","str":"Thrombosis\/Stroke","hep":"Hepatitis","gb":"Gall Bladder Condition","br":"Breast Disease","dpr":"Depression","all":"Allergies","inf":"Infertility","ast":"Asthma","ep":"Epilepsy","cl":"Contact Lenses","coc":"Contraceptive Complication (specify)","oth":"Other (specify)"},"form_userarea11":["Varicose Veins","Hypertension","Diabetes"],"form_exams":{"brs":"Breast Exam","cec":"Cardiac Echo","ecg":"ECG","gyn":"Gynecological","mam":"Mammogram","phy":"Physical","pro":"","rec":"","sic":"","ret":"","flu":"","pne":"","ldl":"","hem":"Hemoglobin","psa":"PSA"},"radio_exams":{"brs":"2","cec":"3","ecg":"2","gyn":"3","mam":"2","phy":"2","hem":"2","psa":"2"},"form_text_tobacco":"Tobacco Type","form_tobacco":"15","form_coffee":"Coffee","form_alcohol":"Alcohol","form_recreational_drugs":"Recreational Drugs","form_counseling":"Counselling","form_exercise_patterns":"Exercise Patterns","form_hazardous_activities":"Hazardous Activities","form_userarea12":"Life style Others","form_relatives_cancer":"Cancer","form_relatives_tuberculosis":"Tuberculosis","form_relatives_diabetes":"Diabetes","form_relatives_high_blood_pressure":"High Blood Pressure","form_relatives_heart_problems":"Tuberculosis","form_relatives_stroke":"Stroke","form_relatives_epilepsy":"Epilepsy","form_relatives_mental_illness":"Mental Illness","form_relatives_suicide":"Suicide","form_history_father":"Father","form_history_mother":"Mothers","form_history_siblings":"Siblings","form_history_spouse":"Spouse","form_history_offspring":"Child"}

+ Response 200 (application/json)
    
    + Body
    
            {"success":{"Patient Details":{"pid":"internal_id","fname":"FIRST NAME","lname":"LAST NAME","DOB":"11-DEC-2014","DOB_YMD":"2014-12-11","street":"Door no, Street namE","genericval1":"Taluk","genericname2":"District","genericval2":"Village","city":"City","state":"Kerala","country_code":"IND","postal_code":"600001","occupation":"Occupation","phone_cell":"9876543210","status":"single","sex":"Female","pubpid":"UNIQUEID","genericname1":"O+","history_mother":"Mothers 's Name","guardiansname":"Emergency","Age_flag":"0","Regdate":2014-12-11 12:12:12,"Since":"0 day","history_father":"Father 's name","Age":"16 years","images":"csr_data\/72-DB05A752FF6DA04229BEF6A60765CA01.png"}}}


<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><td colspan="2"><strong>Required Header Parameters</strong></td></tr>
<tr><td >auth</td><td><code>login</code></td></tr>
<tr><td >AUTH_KEY</td><td><code>91B0B365-7BF7-4724-FEC3-4848E07312B5</code></td></tr>

<tr><td colspan="2"><strong>Required URI Parameters</strong></td></tr>
<tr><td >:update</td><td><code>patient internal id </code>passed here.<code>( integer)</code></td></tr>
</tbody>
</table>

## Update Patient Demographics ON PUT [/demographics/update/:update]

<pre class="json">
<code><span> Request method : PUT<span>
<span>Resource URI : /demographics/update/:update<span>
<span>Request Content type :application/json<span></code>
</pre>

### Update Patient Demographics ON PUT  [PUT]

+ Request (application/json)

    + Headers
    
            auth: login
            AUTH_KEY: 91B0B365-7BF7-4724-FEC3-4848E07312B5
   
    + Body
    
            {"form_pubpid":"Biometricqcsr","form_fname":"First Name","form_lname":"Last name","form_DOB":"2014-12-15","form_age":"","form_sex":"Male","form_status":"single","form_photo":"data:image\/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAAB4CAYAAAB1ovlvAAAABHNCSVQICAgIfAhkiAAABGNJREFUeJzt3E9oHFUAx\/HfzG72T7I1m9am2BKTqPinNLRY\/FNEIlK1KEVFEPTswUsRTx4KevSgJ8GTF6+i9CDVg4cqBVFBsbQoVISmNjVbU9o0f3c3M288bJJ2SaHJpb8Rv5\/LhtkMzCNfHvPeg0T1ej0TYBK7HwD\/bwQIKwKEFQHCigBhRYCwIkBYESCsCBBWBAgrAoQVAcKKAGFFgLAiQFgRIKwIEFYECCsChBUBwooAYUWAsCJAWBEgrAgQVgQIKwKEFQHCigBhRYCwIkBYFd0PgG5ZJEXZ9c8ok0LcfU2SCpmUxNJ29ehQeUijUU1tBZ1fvKrjYUrzhbB2T54xA+ZMMXQ+V+MJcfc1qXM9iaXne0f05bYX9MDALv1dTDRbjvX4vXt0bOBZ7Um3eAawSRH\/ITVfVme5fXG\/nqjs1La0pIlkTl+1\/tKVQqLlgtSTSgcqg\/qg\/4COzP2oXxcvrc10USa9NLxXR67t0uvT36hRSrwDugVmwBx6q29MH905rp4tvWpUE+0eGtbn25\/RHtVUDJ1I39y6V5\/O\/q5fmt3xSdIXF0\/rTP+yXqmO2MawUbwD5swj1UG9XBvVG9Mn9UeYURZJ8dXf9NrIfr3fflSH50+oVOvV\/erXO0sXFN3wjrcaYhwynZq5qEPxoD5O\/\/QMZIOYAXNmvD6i4wvndDbMSurMakksHbt4WrWBfo236uotlhSyTNNRa939aSTFQbqslvrintv9+JtGgDlTK1U02ZrVjYvXWNJi0lZDTdULFS20lhRHkR5qVtfdH6szE+6KetW4SaB5Q4A5cy1parfuWHufS1cWJZViSUNpRVNRU+1mS9+Vr+rF8vC6++MgxcWCDlaH9G3auM1Pv3kEmDNfL53X0\/VRPRz6JIXOHyiO9F55TJPtWf1UnFEaSZ\/MnNHBnQ\/q1dagpLC2ZxgXpA+r+xUnQZ+lF7yD2QC2YXImyqTnRsZ0tHmfzl6Z0tnygp4s7FBaKent6ZOaCPMqZJ2Z8bGBu3V0yz4t\/XNF38czGohKGi\/t0ERlWe9e+kGTYcE9nFsiwJzJVhYRW+t1HdJdqhWLOtee04mlSSVJ0llkrPxuHKSeao+e6hvWPaopC0Gn2pf182JDaRas49goAsyh1VOQzqZ0rDQKKqed1fDq99L1Izqp++guWTk9yfsxnMQ+YC51byyHtXPfm3\/f\/XMWdc6J\/wvxSSxCYEaAsCJAWBEgrAgQVgQIKwKEFQHCigBhRYCwIkBYESCsCBBWBAgrAoQVAcKKAGFFgLAiQFgRIKwIEFYECCsChBUBwooAYUWAsCJAWBEgrAgQVgQIKwKEFQHCigBhRYCwIkBYESCsCBBWBAgrAoQVAcKKAGFFgLAiQFgRIKwIEFYECCsChBUBwooAYUWAsCJAWBEgrAgQVgQIKwKEFQHCigBhRYCwIkBYESCsCBBWBAgrAoQVAcKKAGFFgLAiQFgRIKwIEFYECCsChBUBwooAYUWAsCJAWP0Lie0T6S1FkqMAAAAASUVORK5CYII=","form_genericname1":"A+","form_street":"Door no, Street name","form_genericval2":"Village","form_genericval1":"Taluk","form_city":"City","form_genericname2":"District","form_state":"AP","form_postal_code":"628151","form_phone_cell":"0987654321","form_phone_home":"1234567890","form_email":"rajasekar.jeya@gmail.com","form_guardiansname":"Emergency Contact Name","form_contact_relationship":"Contact RelationShip","form_phone_contact":"1029384756","form_occupation":"Occupation","form_em_name":"Employer Name","form_em_street":"Employer Address","form_usertext11":{"vv":"Varicose Veins","ht":"Hypertension","db":"Diabetes","sc":"Sickle Cell","fib":"Fibroids","pid":"PID (Pelvic Inflammatory Disease)","mig":"Severe Migraine","hd":"Heart Disease","str":"Thrombosis\/Stroke","hep":"Hepatitis","gb":"Gall Bladder Condition","br":"Breast Disease","dpr":"Depression","all":"Allergies","inf":"Infertility","ast":"Asthma","ep":"Epilepsy","cl":"Contact Lenses","coc":"Contraceptive Complication (specify)","oth":"Other (specify)"},"form_userarea11":["Varicose Veins","Hypertension","Diabetes"],"form_exams":{"brs":"Breast Exam","cec":"Cardiac Echo","ecg":"ECG","gyn":"Gynecological","mam":"Mammogram","phy":"Physical","pro":"","rec":"","sic":"","ret":"","flu":"","pne":"","ldl":"","hem":"Hemoglobin","psa":"PSA"},"radio_exams":{"brs":"2","cec":"3","ecg":"2","gyn":"3","mam":"2","phy":"2","hem":"2","psa":"2"},"form_text_tobacco":"Tobacco Type","form_tobacco":"15","form_coffee":"Coffee","form_alcohol":"Alcohol","form_recreational_drugs":"Recreational Drugs","form_counseling":"Counselling","form_exercise_patterns":"Exercise Patterns","form_hazardous_activities":"Hazardous Activities","form_userarea12":"Life style Others","form_relatives_cancer":"Cancer","form_relatives_tuberculosis":"Tuberculosis","form_relatives_diabetes":"Diabetes","form_relatives_high_blood_pressure":"High Blood Pressure","form_relatives_heart_problems":"Tuberculosis","form_relatives_stroke":"Stroke","form_relatives_epilepsy":"Epilepsy","form_relatives_mental_illness":"Mental Illness","form_relatives_suicide":"Suicide","form_history_father":"Father","form_history_mother":"Mothers","form_history_siblings":"Siblings","form_history_spouse":"Spouse","form_history_offspring":"Child"}

+ Parameters

    + update (required , `patient_id` , `integer`) ... this is used as a key segment.
    

+ Response 200 (application/json)
    
    + Body
    
            {"success":{"Patient Details":{"pid":"internal_id","fname":"FIRST NAME","lname":"LAST NAME","DOB":"11-DEC-2014","DOB_YMD":"2014-12-11","street":"Door no, Street namE","genericval1":"Taluk","genericname2":"District","genericval2":"Village","city":"City","state":"Kerala","country_code":"IND","postal_code":"600001","occupation":"Occupation","phone_cell":"9876543210","status":"single","sex":"Female","pubpid":"UNIQUEID","genericname1":"O+","history_mother":"Mothers 's Name","guardiansname":"Emergency","Age_flag":"0","Regdate":2014-12-11 12:12:12,"Since":"0 day","history_father":"Father 's name","Age":"16 years","images":"csr_data\/72-DB05A752FF6DA04229BEF6A60765CA01.png"}}}
