FORMAT: 1A
HOST: https://tmx-india.cloudapp.net/openemr_dev/interface/tmx-india

# CSR Health care

<p>Corporate social responsibility <code>(CSR)</code> is a health care EMR <code>(Electronic Medical Records)</code> Software, Implementing Clinical concept with Android Tablet.</p>
<br/><p>An EMR contains the standard medical and clinical data gathered in one provider’s office. Electronic health records (EHR) go beyond the data collected in the provider’s office and include a more comprehensive patient history.</p>

## Server information

<p>Server</p>
<p> PHP <code>5.3 </code> and mysql <code>5.6</code>.</p>
<p>For example we use <code>android retrofit</code> to connect to this <code>REST API</code>.</p>

<em><small>**Note: This content is currently DRAFT and under development**</small></em>

# Overview


<ul>
<li><p>All Api access is at <code>https://www.sitename.com/xxxxxx/interface/api/v1/</code></p></li>
<li><p>All Api access is based on  API Mode such as <code>“development”</code>, <code>“test”</code>, and <code>“production”</code></p><br/><br/>
<p>- e.g: <code>API development Mode</code> <br/><br/> <code>https://www.sitename.com/xxxxxxx_dev/interface/api/v1/</code><br/><br/>
<code>API test Mode</code><br/><br/>  <code>https://www.sitename.com/xxxxxxx/interface/api/v1/</code></p></li>
<li><p>All data response as <code>JSON OBJECT</code>.</p></li>
<li><p>Client can send any kind of data with supportable format of header content-type</p></li>
</ul>

##Requests

<p>All API methods are described by a HTTP method (e.g. GET, POST, PUT, DELETE) and a URL endpoint.</p>
<p>For example: <code>REQUEST_METHOD:</code>  <code>POST</code>, <code>URL pattern</code>   <code>/User/login</code> Requests data is required </p>
<p>- e.g.: <code>User login </code> - it must be supplied in the request body as a <code>JSON object</code> and the <code>Content-Type: application/json</code> header needs to be set.</p>
<p>Hence:<br/><pre><code>if request supplied in the request body as a  JSON object  and the  Content-Type: application/json  header needs to be set.</code></pre></p>
 
<em>**Note: The request content and content-type on header should be same.**</em>

##Responses

<p>Responses are returned in <code>JSON format;</code> every response will have the <code>Content-Type: application/json</code> header set.</p>

<h3>Response Status</h3>

<p>All responses from the API use a standard HTTP status code. Common status codes you will see while using the API are:</p>
<ul>
<li><p><code>2xx </code>  <code>Successful</code>- the request was successful and a resource was created</p></li>
<li><p><code>200 </code>  <code>OK </code>- the request completed successfully (POST calls return 201 instead)</p></li>
<li><p><code>201 </code>  <code>Created </code>- the request was successful and a resource was created</p></li>
<li><p><code>3xx </code>  <code>Redirection </code>- Server redirect if it's need. </p></li>
<li><p><code>301 </code>  <code>Moved Permanently</code>- Server redirect if it's need. </p></li>
<li><p><code>4xx </code>  <code>Client Error </code>- the request could not be understood by server or client was missing required parameters. </p></li>
<li><p><code>400 </code>  <code>Bad Request </code>- the request could not be understood or was missing required parameters. </p></li>
<li><p><code>401 </code>  <code>Unauthorized </code>- authentication failed or user doesn't have permissions for requested operation. </p></li>
<li><p><code>403 </code>  <code>Forbidden </code>-  access denied, currently authorized user doesn't have access to the resource. </p></li>
<li><p><code>404 </code>  <code>Not Found </code>-  resource was not found. </p></li>
<li><p><code>405 </code>  <code>Method Not Allowed </code>-  requested method is not supported for resource. </p></li>
<li><p><code>5xx </code>  <code>Server Error </code>- something went wrong serverside. Likely a transient issue, but if you get repeated 5XX errors, please contact support. </p></li>
</ul>

## Operations

<p>We use RESTful verbs for all operations and methods.</p>
<table>
<thead><tr><th>Verb</th><th>Description</th></tr></thead>
<tbody>
<tr><td><code>GET</code></td><td>Used to select one or more items. Success returns 200 status code with json result item(s) in body.</td></tr>
<tr><td><code>POST</code></td><td>Used to create a new item. Success returns 201 status code with newly created json item in body.</td></tr>
<tr><td><code>PUT</code></td><td>Used to update an item. Success returns 200 status code with updated json item in body.</td></tr>
<tr><td><code>DELETE</code></td><td>Used to delete an item. Success returns 204 status code with no body.</td></tr>
</tbody>
</table>

## Query Parameters

<h2>Query Parameters</h2>
<p>You can add query parameters to your requests, most commonly for <code>GET</code> requests.</p>
<p><em>Example: http://www.sitename/com/api/v1/plist?page=2&amp;pageSize=10 will return page 2, of 10 results per page.</em></p>

# Authentication

<p>All User need to Login their application before getting started.<p>
<p>Login credential such as : <code>Username</code> & <code>Password</code><p>
<p>After Successful Login in to server, server send an unique UUID for the User, After login Every request needs a valid UUID key for request Server</p>

<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><td colspan="2"><strong>After Successful Login Request Required Header Parameters</strong></td></tr>
<tr><td >auth</td><td><code>xxxxx</code></td></tr>
<tr><td >AUTH_KEY</td><td><code>xxxxx</code></td></tr>
</tbody>
</table>

# Group API

<p><em>Notes related resources of the **API**</em></p>
<p>Every Request need a <code>REQUEST METHOD</code> , <code>specified URL</code> and required <code>request data</code></p>

# Group User 

<p>User login attributes:</p>

<ul >
<li ><p class="tocColumnItemText"><strong>authUser</strong> <code>string</code> - unique name of the User in the system</p></li>
<li ><p class="tocColumnItemText"><strong>authPass</strong> <code>string</code> - base64_encode of password used in this filed for crypt.</p></li>
<li ><p class="tocColumnItemText"><strong>success</strong> <code>object</code> - Client request with REQUEST_METHOD , URL pattern and Parameters to the server, Server response as an success object .</p></li>
<li ><p class="tocColumnItemText"><strong>failure</strong> <code>object</code> - Client request with invalid REQUEST_METHOD or invalid URL pattern or invalid Parameters to the server, Server response as an failure object.</p></li>
<li ><p class="tocColumnItemText"><strong>Message</strong> <code>string</code> - Server return message based on credential.</p></li>
<li ><p class="tocColumnItemText"><strong>authUser</strong> <code>string</code> - Authenticated unique name of the User in the system.</p></li>
<li ><p class="tocColumnItemText"><strong>Username</strong> <code>string</code> - Authenticated Name of the User in the system.</p></li>
<li ><p class="tocColumnItemText"><strong>Facility</strong> <code>string</code> - Facility of the current User.</p></li>
<li ><p class="tocColumnItemText"><strong>authUserID</strong> <code>string</code> - Unique UUID for the current User.</p></li>
<li ><p class="tocColumnItemText"><strong>ACL</strong> <code>array</code> - Current User having Generic Access Control Lists.</p></li>
</ul>


##User Login on GET [/User/login?authUser=admin&authPass=YWRtaW5sc2FwcEAyMDE0]

<pre class="json">
<code><span>Request method : GET</span>
<span>Resource URI : /User/:login</span>
<span>Request Content type :application/json</span>
<span>Request Query:authUser=admin&authPass=YWRtaW5sc2FwcEAyMDE0</span>
<span>For example<br/>Request URL: https://yourdomain.com/User/:login?authUser=admin&authPass=YWRtaW5sc2FwcEAyMDE0</span></code>
</pre>

### User Login on GET method [GET]

+ Response 200 (application/json)

    + Body
    
            {"success":{"Message":"Login Successful!","authUser":"admin","Username":"Administrator Administrator","Facility":"Dr. Metha Hospital","authUserID":"9AD5C9F8-52AC-3B34-446F-8B14B593D385","ACL":["Administrators"]}}
        
+ Parameters
    + login (required , `login?` , `string`) ... this is used as a key.
    + authUser (required , `admin` , `string`) ... name of the User in the system.
    + authPass (required , `YWRtaW5sc2FwcEAyMDE0` , `string`) ... unique name of the User key  encripted base64_encode value to be used.
    

##User Login on POST [/User/login]

<pre class="json">
<code><span> Request method : POST</span>
<span>Resource URI : /User/login</span>
<span>Request Content type :application/json</span>
<span>Request variables : {"authUser":"xxxxx","authPass":"xxxxx"}</span></code>
</pre>



### User Login on POST method  [POST]

+ Request (application/json)

    + Body
    
            {"authUser":"admin","authPass":"YWRtaW5sc2FwcEAyMDE0"}

+ Response 201 (application/json)

    + Body

            {"success":{"Message":"Login Successful!","authUser":"admin","Username":"Administrator Administrator","Facility":"Dr. Metha Hospital","authUserID":"9AD5C9F8-52AC-3B34-446F-8B14B593D385","ACL":["Administrators"]}}


+ Request (application/x-www-form-urlencoded)

        authUser=admin&authPass=YWRtaW5sc2FwcEAyMDE0

+ Response 201 (application/json)
    
    + Body

            {"success":{"Message":"Login Successful!","authUser":"admin","Username":"Administrator Administrator","Facility":"Dr. Metha Hospital","authUserID":"9AD5C9F8-52AC-3B34-446F-8B14B593D385","ACL":["Administrators"]}}

## User Logout on POST [/User/logout]

<p>User Logout attributes:</p>

<ul>
<li><p class="tocColumnItemText"><strong>AUTH_KEY</strong> <code>string</code> - unique UUID of the User in the system , it is to be passed on Headers</p></li>
<li><p class="tocColumnItemText"><strong>auth</strong> <code>string</code> - authenticate user stay on login to request and retrieve data from server  or logout, it is to be passed on Headers</p></li>
</ul>

<pre class="json">
<code><span> Request method : POST</span>
<span>Resource URI : /User/logout</span>
<span>Request Content type :application/json</span></code>
</pre>

<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><td colspan="2"><strong>Required Header Parameters</strong></td></tr>
<tr><td >auth</td><td><code>logout</code></td></tr>
<tr><td >AUTH_KEY</td><td><code>91B0B365-7BF7-4724-FEC3-4848E07312B5</code></td></tr>
</tbody>
</table>

### User Logout on POST [POST]

+ Request (application/json)

    + Headers
    
            auth: login
            AUTH_KEY: 91B0B365-7BF7-4724-FEC3-4848E07312B5
       
+ Response 200 (application/json)
    
    + Body

            {success: {Message: "Logout Successful."}}

# Group Patient Data collection

<p>Common attributes:</p>
<ul>
<li><p class="tocColumnItemText"><strong>AUTH_KEY</strong> <code>string</code> - unique UUID of the User in the system , it is to be passed on Headers</p></li>
<li><p class="tocColumnItemText"><strong>auth</strong> <code>string</code> - authenticate user stay on login to request and retrieve data from server  or logout, it is to be passed on Headers</p></li>
<li><p class="tocColumnItemText"><strong>success</strong> <code>object</code> - Client request with REQUEST_METHOD , URL pattern and Parameters to the server, Server response as an success object .</p></li>
<li><p class="tocColumnItemText"><strong>failure</strong> <code>object</code> -  Client request with invalid REQUEST_METHOD or invalid URL pattern or invalid Parameters to the server, Server response as an failure object .</p></li>
</ul>

<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><td colspan="2"><strong>Required Header Parameters</strong></td></tr>
<tr><td >auth</td><td><code>login</code></td></tr>
<tr><td >AUTH_KEY</td><td><code>UUID</code></td></tr>
</tbody>
</table>

## Patient Register Form [/demographics/form]

<pre class="json">
<code><span> Request method : POST<span>
<span>Resource URI : /demographics/form<span>
<span>Request Content type :application/json<span></code>
</pre>

### Patient Register Form  [POST]

+ Request (application/json)

    + Headers
    
            auth: login
            AUTH_KEY: 91B0B365-7BF7-4724-FEC3-4848E07312B5
       
+ Response 200 (application/json)
    
    + Body

            {"success":{"form_pubpid":{"tag_name":"Biometric","required":1},"form_fname":{"tag_name":"First Name","required":1},"form_lname":{"tag_name":"Last name","required":1},"form_DOB":{"tag_name":"Date of birth","required":1},"form_age":{"tag_name":"Age","required":1},"form_sex":{"tag_name":"sex","this_options":{"Unassigned":"Unassigned","Female":"Female","Male":"Male"},"required":1},"form_status":{"tag_name":"Status","this_options":{"Unassigned":"Unassigned","married":"Married","single":"Single","divorced":"Divorced","widowed":"Widowed","separated":"Separated","domestic partner":"Domestic Partner"},"required":1},"form_photo":{"tag_name":"Photograph","required":1},"form_genericname1":{"tag_name":"Blood Group","this_options":{"Unassigned":"Unassigned","O+":"O+","A+":"A+","B+":"B+","AB+":"AB+","O-":"O-","A-":"A-","B-":"B-","AB-":"AB-"},"required":0},"form_street":{"tag_name":"Door no, Street name","required":0},"form_genericval2":{"tag_name":"Village","required":0},"form_genericval1":{"tag_name":"Taluk","required":0},"form_city":{"tag_name":"City","required":0},"form_genericname2":{"tag_name":"District","required":1},"form_state":{"tag_name":"State","this_options":{"Unassigned":"Unassigned","AN":"Andaman and Nicobar Islands","AP":"Andhra Pradesh","AR":"Arunachal Pradesh","AS":"Assam","BI":"Bihar","CH":"Chandigarh","DA":"Dadra and Nagar Haveli","DM":"Daman and Diu","DE":"Delhi","GO":"Goa","GU":"Gujarat","HA":"Haryana","HP":"Himachal Pradesh","JA":"Jammu and Kashmir","KA":"Karnataka","KE":"Kerala","LI":"Lakshadweep Islands","MP":"Madhya Pradesh","MA":"Maharashtra","MN":"Manipur","ME":"Meghalaya","MI":"Mizoram","NA":"Nagaland","OR":"Orissa","PO":"Pondicherry","PU":"Punjab","RA":"Rajasthan","SI":"Sikkim","TN":"Tamil Nadu","TR":"Tripura","UP":"Uttar Pradesh","WB":"West Bengal"},"required":1},"form_postal_code":{"tag_name":"Pin code","required":1},"form_phone_cell":{"tag_name":"Mobile Number","required":0},"form_phone_home":{"tag_name":"Land line","required":0},"form_email":{"tag_name":"Contact Email","required":0},"form_guardiansname":{"tag_name":"Emergency Contact Name","required":0},"form_contact_relationship":{"tag_name":"Emergency Contact RelationShip","required":0},"form_phone_contact":{"tag_name":"Emergency Contact Phone","required":0},"form_occupation":{"tag_name":"Occupation","required":1},"form_em_name":{"tag_name":"Employer Name","required":1},"form_em_street":{"tag_name":"Employer Address","required":1},"form_usertext11":{"tag_name":"Risk Factors","this_checkbox":{"form_usertext11[vv]":"Varicose Veins","form_usertext11[ht]":"Hypertension","form_usertext11[db]":"Diabetes","form_usertext11[sc]":"Sickle Cell","form_usertext11[fib]":"Fibroids","form_usertext11[pid]":"PID (Pelvic Inflammatory Disease)","form_usertext11[mig]":"Severe Migraine","form_usertext11[hd]":"Heart Disease","form_usertext11[str]":"Thrombosis\/Stroke","form_usertext11[hep]":"Hepatitis","form_usertext11[gb]":"Gall Bladder Condition","form_usertext11[br]":"Breast Disease","form_usertext11[dpr]":"Depression","form_usertext11[all]":"Allergies","form_usertext11[inf]":"Infertility","form_usertext11[ast]":"Asthma","form_usertext11[ep]":"Epilepsy","form_usertext11[cl]":"Contact Lenses","form_usertext11[coc]":"Contraceptive Complication (specify)","form_usertext11[oth]":"Other (specify)"},"required":0},"form_userarea11":{"tag_name":"Risk Factors Others","required":0},"form_exams":{"tag_name":"Exams\/Tests","this_text":{"form_exams[brs]":{"this_text":"Breast Exam","this_radio":{"radio_exams[brs][1]":"N\/A","radio_exams[brs][2]":"Normal","radio_exams[brs][3]":"Abnormal"}},"form_exams[cec]":{"this_text":"Cardiac Echo","this_radio":{"radio_exams[cec][1]":"N\/A","radio_exams[cec][2]":"Normal","radio_exams[cec][3]":"Abnormal"}},"form_exams[ecg]":{"this_text":"ECG","this_radio":{"radio_exams[ecg][1]":"N\/A","radio_exams[ecg][2]":"Normal","radio_exams[ecg][3]":"Abnormal"}},"form_exams[gyn]":{"this_text":"Gynaecological Exam","this_radio":{"radio_exams[gyn][1]":"N\/A","radio_exams[gyn][2]":"Normal","radio_exams[gyn][3]":"Abnormal"}},"form_exams[mam]":{"this_text":"Mammogram","this_radio":{"radio_exams[mam][1]":"N\/A","radio_exams[mam][2]":"Normal","radio_exams[mam][3]":"Abnormal"}},"form_exams[phy]":{"this_text":"Physical Exam","this_radio":{"radio_exams[phy][1]":"N\/A","radio_exams[phy][2]":"Normal","radio_exams[phy][3]":"Abnormal"}},"form_exams[pro]":{"this_text":"Prostate Exam","this_radio":{"radio_exams[pro][1]":"N\/A","radio_exams[pro][2]":"Normal","radio_exams[pro][3]":"Abnormal"}},"form_exams[rec]":{"this_text":"Rectal Exam","this_radio":{"radio_exams[rec][1]":"N\/A","radio_exams[rec][2]":"Normal","radio_exams[rec][3]":"Abnormal"}},"form_exams[sic]":{"this_text":"Sigmoid\/Colonoscopy","this_radio":{"radio_exams[sic][1]":"N\/A","radio_exams[sic][2]":"Normal","radio_exams[sic][3]":"Abnormal"}},"form_exams[ret]":{"this_text":"Retinal Exam","this_radio":{"radio_exams[ret][1]":"N\/A","radio_exams[ret][2]":"Normal","radio_exams[ret][3]":"Abnormal"}},"form_exams[flu]":{"this_text":"Flu Vaccination","this_radio":{"radio_exams[flu][1]":"N\/A","radio_exams[flu][2]":"Normal","radio_exams[flu][3]":"Abnormal"}},"form_exams[pne]":{"this_text":"Pneumonia Vaccination","this_radio":{"radio_exams[pne][1]":"N\/A","radio_exams[pne][2]":"Normal","radio_exams[pne][3]":"Abnormal"}},"form_exams[ldl]":{"this_text":"LDL","this_radio":{"radio_exams[ldl][1]":"N\/A","radio_exams[ldl][2]":"Normal","radio_exams[ldl][3]":"Abnormal"}},"form_exams[hem]":{"this_text":"Haemoglobin","this_radio":{"radio_exams[hem][1]":"N\/A","radio_exams[hem][2]":"Normal","radio_exams[hem][3]":"Abnormal"}},"form_exams[psa]":{"this_text":"PSA","this_radio":{"radio_exams[psa][1]":"N\/A","radio_exams[psa][2]":"Normal","radio_exams[psa][3]":"Abnormal"}}},"required":0},"form_text_tobacco":{"tag_name":"Tobacco Type","required":0},"form_tobacco":{"tag_name":"Tobacco","this_options":{"Unassigned":"Unassigned","1":"Current every day smoker","2":"Current some day smoker","3":"Former smoker","4":"Never smoker","5":"Smoker, current status unknown","9":"Unknown if ever smoked","15":"Heavy tobacco smoker","16":"Light tobacco smoker"},"this_radio":{"radio_tobacco[1]":"Current","radio_tobacco[2]":"Quit","radio_tobacco[3]":"Never","radio_tobacco[4]":"N\/A"},"date_tobacco":"choose a date","required":0},"form_coffee":{"tag_name":"Coffee","this_radio":{"radio_coffee[1]":"Current","radio_coffee[2]":"Quit","radio_coffee[3]":"Never","radio_coffee[4]":"N\/A"},"date_coffee":"choose a date","required":0},"form_alcohol":{"tag_name":"Alcohol","this_radio":{"radio_alcohol[1]":"Current","radio_alcohol[2]":"Quit","radio_alcohol[3]":"Never","radio_alcohol[4]":"N\/A"},"date_alcohol":"choose a date","required":0},"form_recreational_drugs":{"tag_name":"Recreational Drugs","this_radio":{"radio_recreational_drugs[1]":"Current","radio_recreational_drugs[2]":"Quit","radio_recreational_drugs[3]":"Never","radio_recreational_drugs[4]":"N\/A"},"date_recreational_drugs":"choose a date","required":0},"form_counseling":{"tag_name":"Counselling","this_radio":{"radio_counseling[1]":"Current","radio_counseling[2]":"Quit","radio_counseling[3]":"Never","radio_counseling[4]":"N\/A"},"date_counseling":"choose a date","required":0},"form_exercise_patterns":{"tag_name":"Exercise Patterns","this_radio":{"radio_exercise_patterns[1]":"Current","radio_exercise_patterns[2]":"Quit","radio_exercise_patterns[3]":"Never","radio_exercise_patterns[4]":"N\/A"},"date_exercise_patterns":"choose a date","required":0},"form_hazardous_activities":{"tag_name":"Hazardous Activities","this_radio":{"radio_hazardous_activities[1]":"Current","radio_hazardous_activities[2]":"Quit","radio_hazardous_activities[3]":"Never","radio_hazardous_activities[4]":"N\/A"},"date_hazardous_activities":"choose a date","required":0},"form_userarea12":{"tag_name":"Life style Others","required":0},"form_relatives_cancer":{"tag_name":"Cancer","required":0},"form_relatives_tuberculosis":{"tag_name":"Tuberculosis","required":0},"form_relatives_diabetes":{"tag_name":"Diabetes","required":0},"form_relatives_high_blood_pressure":{"tag_name":"High Blood Pressure","required":0},"form_relatives_heart_problems":{"tag_name":"Heart Problems","required":0},"form_relatives_stroke":{"tag_name":"Stroke","required":0},"form_relatives_epilepsy":{"tag_name":"Epilepsy","required":0},"form_relatives_mental_illness":{"tag_name":"Mental Illness","required":0},"form_relatives_suicide":{"tag_name":"Suicide","required":0}}}


## New Patient Register [/demographics/new]

<pre class="json">
<code><span> Request method : POST<span>
<span>Resource URI : /demographics/new<span>
<span>Request Content type :application/json<span></code>
</pre>

<table style="width: 100%; margin: 12px 0 0 0;">
<tbody>
<tr><td colspan="2"><strong>Required Header Parameters</strong></td></tr>
<tr><td >auth</td><td><code>login</code></td></tr>
<tr><td >AUTH_KEY</td><td><code>91B0B365-7BF7-4724-FEC3-4848E07312B5</code></td></tr>
</tbody>
</table>

<p>Data collection attributes:</p>
<table style="width: 100%; margin: 12px 0 0 0;">
<tr><td >form_pubpid</td><td>Biometric ( Finger print) value <code>required</code> <code>alphanumeric</code></td></tr>
<tr><td >form_fname</td><td>Patient first name <code>required</code> <code>alpha</code></td></tr>
<tr><td >form_lname</td><td>Patient last name   <code>required</code> <code>alpha</code></td></tr>
<tr><td >form_DOB/form_age </td><td>Patient date of birth or age   <code>required</code> <code> Supported input date formats are:
mm/dd/yyyy ,   mm/dd/yy   (assumes 20yy for yy < 10, else 19yy)
yyyy/mm/dd ,  also mm-dd-yyyy, and mm.dd.yyyy, Age is an 3 digit Numeric Value.</code></td></tr>
<tr><td >form_sex</td><td>Patient sex info   <code>required</code> <code>option</code></td></tr>
<tr><td >form_status</td><td>Patient marital status   <code>required</code> <code>option</code></td></tr>
<tr><td >form_photo</td><td>Patient Photograph   <code>required</code> <code>base64_encode file format</code></td></tr>
<tr><td >form_genericname1</td><td>Patient Blood Group   <code>optional</code> <code>option</code></td></tr>
<tr><td ></td><td></td></tr>
<tr><td >form_street</td><td>Patient Address Door no, Street name   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_genericval2</td><td>Patient Address Village   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_genericval1</td><td>Patient Address Taluk   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_city</td><td>Patient Address  City <code>optional</code> <code>string</code></td></tr>
<tr><td >form_genericname2</td><td>Patient Address  District <code>required</code> <code>string</code></td></tr>
<tr><td >form_state</td><td>Patient Address  State <code>required</code> <code>option</code></td></tr>
<tr><td >form_postal_code</td><td>Patient Address Pin code   <code>required</code> <code>numeric</code></td></tr>
<tr><td ></td><td></td></tr>
<tr><td >form_phone_cell</td><td>Patient Mobile Number   <code>optional</code> <code>numeric</code></td></tr>
<tr><td >form_phone_home</td><td>Patient Land line   <code>optional</code> <code>numeric</code></td></tr>
<tr><td >form_email</td><td>Patient Contact Email   <code>optional</code> <code>email address format</code></td></tr>
<tr><td ></td><td></td></tr>
<tr><td >form_guardiansname</td><td>Patient Emergency Contact Name   <code>optional</code> <code>numeric</code></td></tr>
<tr><td >form_contact_relationship</td><td>Patient Emergency Contact RelationShip   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_phone_contact</td><td>Patient Emergency Contact Phone   <code>optional</code> <code>numeric</code></td></tr>
<tr><td ></td><td></td></tr>
<tr><td >form_occupation</td><td>Patient Occupation   <code>required</code> <code>alphanumeric</code></td></tr>
<tr><td >form_em_name</td><td>Patient Employer Name   <code>required</code> <code>string</code></td></tr>
<tr><td >form_em_street</td><td>Patient Employer Address   <code>required</code> <code>string</code></td></tr>
<tr><td ></td><td></td></tr>
<tr><td >form_usertext11</td><td>Risk Factors   <code>optional</code> <code>array of risk factors</code></td></tr>
<tr><td >form_userarea11</td><td>Risk Factors Others   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_exams</td><td>Exams/Tests   <code>optional</code> <code>array contain  Exams/Tests  name  and result </code></td></tr>
<tr><td ></td><td></td></tr>
<tr><td >form_text_tobacco</td><td>Tobacco Type   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_tobacco</td><td>Tobacco   <code>optional</code> <code>array contain  frequency of usage and status if quit on date.</code></td></tr>
<tr><td >form_coffee</td><td>Coffee   <code>optional</code> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_alcohol</td><td>Alcohol   <code>optional</code> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_recreational_drugs</td><td>Recreational Drugs   <code>optional</code> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_counseling</td><td>Counselling   <code>optional</code> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_exercise_patterns</td><td>Exercise Patterns   <code>optional</code> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_hazardous_activities</td><td>Hazardous Activities   <code>optional</code> <code>array contain status if quit on date.</code></td></tr>
<tr><td >form_userarea12</td><td>Life style Others   <code>optional</code> <code>string</code></td></tr>
<tr><td ></td><td></td></tr>
<tr><td >form_relatives_cancer</td><td>Cancer   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_relatives_tuberculosis</td><td>Tuberculosis   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_relatives_diabetes</td><td>Diabetes   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_relatives_heart_problems</td><td>High Blood Pressure   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_relatives_stroke</td><td>Stroke   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_relatives_epilepsy</td><td>Epilepsy   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_relatives_mental_illness</td><td>Mental Illness   <code>optional</code> <code>string</code></td></tr>
<tr><td >form_relatives_suicide</td><td>Suicide   <code>optional</code> <code>string</code></td></tr>

</tbody></table>



### New Patient Register   [POST]

+ Request (application/json)

    + Headers
    
            auth: login
            AUTH_KEY: 91B0B365-7BF7-4724-FEC3-4848E07312B5


+ Response 200 (application/json)
    
